@{
    ViewData["Title"] = "Nuevo Reporte";
}

@model NewReportViewModel
<body>
    <h1>@ViewData["Title"]</h1>

    <div class="scroll-container">

        <h2>Selecciona el vehículo siniestrado:</h2>
        <div class="card-container" id="cardContainer">
            <div class="row">
                @foreach (var item in Model.policyList)
                {
                    <div class="col-sm-6 col-md-4 col-lg-2 mb-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@item.VehicleClient.Model</h5>
                                <p class="card-text">@item.VehicleClient.Plate</p>
                                <p class="card-text">@item.VehicleClient.Brand</p>
                                <p class="card-text">@item.VehicleClient.IdVehicleClient</p>
                                <button class="btn btn-primary select-vehicle" data-vehicle-id="@item.VehicleClient.IdVehicleClient">Seleccionar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="separator-container">

        <h2>Información del Vehículo:</h2>
        <div id="vehicleInfoContainer">
            <div class="row" id="vehicleInfoRow">
                <div class="col-lg-4 col-md-6 mb-4">

                    <input asp-for="IdVehicleSelected" class="form-control d-none" id="infoId">
                    <h5>Modelo:</h5>
                    <p id="infoModel">Modelo del carro</p>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h5>Color:</h5>
                    <p id="infoColor">Color del carro</p>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h5>Marca:</h5>
                    <p id="infoBrand">Marca del carro</p>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h5>Año:</h5>
                    <p id="infoYear">Año del carro</p>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h5>Número de Serie:</h5>
                    <p id="infoSerialNumber">Número de serie del carro</p>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h5>Número de Placas:</h5>
                    <p id="infoPlate">Número de placas del carro</p>
                </div>
            </div>
        </div>

    </div>
    <div class="separator-container">

        <h2>Ubicación del siniestro:</h2>
        <div class="row">
            <div class="col-sm-6">
                <form>
                    <div class="card mt-3">
                        <div class="card-header">
                            Datos de localización
                        </div>
                        <div class="card-body contenedor-mapa">
                            <div class="mb-3">
                                <label asp-for="Localizador" class="form-label"></label>
                                <input asp-for="Localizador" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label asp-for="Latitud" class="form-label"></label>
                                <input asp-for="Latitud" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label asp-for="Longitud" class="form-label"></label>
                                <input asp-for="Longitud" class="form-control">
                            </div>

                        </div>
                        <div class="card-footer text-center">
                            Ingrese el nombre de la ubicación o las coordenadas para verlo en el mapa.
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <div class="card mt-3">
                    <div class="card-header">
                        Mapa
                    </div>
                    <div class="card-body contenedor-mapa">
                        <div id="mapa" class="h-100"></div>
                    </div>
                    <div class="card-footer text-center">
                        Seleccione un lugar moviendo el marcador rojo a una ubicación.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator-container">

        <h2>Fotografías del siniestro:</h2>
        <label for="sourceSelection">Seleccione la fuente de la imagen:</label>
        <select id="sourceSelection">
            <option value="camera">Tomar foto con la cámara</option>
            <option value="gallery">Subir desde la galería</option>
        </select>

        <div id="partialViewContainer">
            <!-- Aquí se cargará la Partial View dinámicamente -->
        </div>

    </div>
    <div class="separator-container">

        <h2>Agregar Involucrados:</h2>
        <div class="col-sm-6">
            <form>
                <div class="card mt-3">
                    <div class="card-header">
                        Datos de localización
                    </div>
                    <div class="card-body contenedor-mapa">
                        <div class="mb-3">
                            <label asp-for="Localizador" class="form-label"></label>
                            <input asp-for="Localizador" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Latitud" class="form-label"></label>
                            <input asp-for="Latitud" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Longitud" class="form-label"></label>
                            <input asp-for="Longitud" class="form-control">
                        </div>

                    </div>
                    <div class="card-footer text-center">
                        Ingrese la informacion del involucrado.
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

@section Styles {
    <link rel="stylesheet" href="~/css/NewReport.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/camara.css" />
}

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN3vjtO_5CHpPTAIVpygowsC4sjptPESE&libraries=places&callback=&callback=console.debug"></script>
    <script src="~/js/locationpicker.js"></script>
    <script src="~/js/ubicacion.js"></script>
    <script src="~/js/camara.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var selectButtons = document.querySelectorAll('.select-vehicle');

            selectButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var vehicleId = this.getAttribute('data-vehicle-id');
                    showVehicleInfo(vehicleId);
                });
            });

            function showVehicleInfo(vehicleId) {
                // Obtener la lista de vehículos desde el modelo
                var vehicleList = @Html.Raw(Json.Serialize(Model.policyList));
                for (var i = 0; i < vehicleList.length; i++) {
                    var vehiculo = vehicleList[i];

                    // Comparar el vehicleId
                    if (vehiculo.idVehicleClient === vehicleId) {
                        // Acceder a las propiedades de vehicleClient
                        var idVehicleClient = vehiculo.vehicleClient.idVehicleClient;
                        var brand = vehiculo.vehicleClient.brand;
                        var color = vehiculo.vehicleClient.color;
                        var model = vehiculo.vehicleClient.model;
                        var plate = vehiculo.vehicleClient.plate;
                        var serialNumber = vehiculo.vehicleClient.serialNumber;
                        var year = vehiculo.vehicleClient.year;


                        var infoId = document.getElementById('infoId');
                        var infoModel = document.getElementById('infoModel');
                        var infoColor = document.getElementById('infoColor');
                        var infoBrand = document.getElementById('infoBrand');
                        var infoYear = document.getElementById('infoYear');
                        var infoSerialNumber = document.getElementById('infoSerialNumber');
                        var infoPlate = document.getElementById('infoPlate');

                        // Actualizar el contenido de la sección de información del vehículo
                        infoId.value = idVehicleClient;
                        infoModel.innerText = model;
                        infoColor.innerText = color;
                        infoBrand.innerText = brand;
                        infoYear.innerText = year;
                        infoSerialNumber.innerText = serialNumber;
                        infoPlate.innerText = plate;

                        break;
                    }
                }
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            // Manejar el cambio en la selección
            $('#sourceSelection').change(function () {
                var selectedValue = $(this).val();

                // Limpiar el contenedor de Partial View
                $('#partialViewContainer').empty();

                // Cargar la Partial View correspondiente
                $.ajax({
                    url: '/Report/' + (selectedValue === 'camera' ? 'Camara' : 'Galeria'),
                    type: 'GET',
                    success: function (result) {
                        // Insertar el resultado en el contenedor de Partial View
                        $('#partialViewContainer').html(result);
                    },
                    error: function (error) {
                        console.error('Error al cargar la Partial View: ', error);
                    }
                });
            });
        });
    </script>
}

