@using System.Web;
@model ReportViewModel
<body>
    <h1>@ViewData["Title"]</h1>

    <div class="separator-container">

        <h2>Información del Vehículo:</h2>
        <div id="vehicleInfoContainer">
            <div class="row" id="vehicleInfoRow">
                <div class="col-lg-4 col-md-6 mb-4">

                    <p id="infoId" style="display: none;"></p>
                    <h5>Modelo:</h5>
                    <p id="infoModel">@Model.Report.VehicleClient.Model</p>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h5>Color:</h5>
                    <p id="infoColor">@Model.Report.VehicleClient.Color</p>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h5>Marca:</h5>
                    <p id="infoBrand">@Model.Report.VehicleClient.Brand</p>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h5>Año:</h5>
                    <p id="infoYear">@Model.Report.VehicleClient.Year</p>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h5>Número de Serie:</h5>
                    <p id="infoSerialNumber">@Model.Report.VehicleClient.SerialNumber</p>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h5>Número de Placas:</h5>
                    <p id="infoPlate">@Model.Report.VehicleClient.Plate</p>
                </div>
            </div>
        </div>

    </div>
    <div class="separator-container">

        <h2>Ubicación del siniestro:</h2>
        <div class="row">
            <div class="col-sm-6">
                <form>
                    <div class="card mt-3">
                        <div class="card-header">
                            Datos de localización
                        </div>
                        <div class="card-body contenedor-mapa">
                            <div class="mb-3">
                                <label asp-for="Localizador" class="form-label"></label>
                                <input asp-for="Localizador" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label asp-for="Latitud" class="form-label"></label>
                                <input id="latitudid" asp-for="Latitud" class="form-control" value="@Model.Report.Latitude">
                            </div>
                            <div class="mb-3">
                                <label asp-for="Longitud" class="form-label"></label>
                                <input id="longitudid" asp-for="Longitud" class="form-control" value="@Model.Report.Longitude">
                            </div>

                        </div>
                        <div class="card-footer text-center">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <div class="card mt-3">
                    <div class="card-header">
                        Mapa
                    </div>
                    <div class="card-body contenedor-mapa">
                        <div id="mapa" class="h-100" draggable="false"></div>
                    </div>
                    <div class="card-footer text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator-container">

        <h2>Fotografías del siniestro:</h2>
        <section id="galery" class="container">
            <div class="row">
                @foreach (var item in Model.Report.Images)
                {
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a data-fancybox="gallery" data-src="@item.ImageReport" data-caption="Descripción opcional">
                            <img src="@item.ImageReport" alt="Descripción de la imagen">
                        </a>
                    </div>
                }
            </div>
        </section>


    </div>
    <div class="separator-container">

        <h2>Involucrados:</h2>
        <table class="table table-striped table-hover mt-3 text-center table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Numero de Licencia</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Color</th>
                    <th>No. Placas</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Report.Involveds)
                {
                    <tr>
                        <td>@item.NameInvolved @item.LastNameInvolved</td>
                        <td>@item.LicenseNumber</td>
                        @if (item.CarInvolved != null)
                        {
                            <td>@item.CarInvolved.Brand</td>
                            <td>@item.CarInvolved.Model</td>
                            <td>@item.CarInvolved.Color</td>
                            <td>@item.CarInvolved.Plate</td>
                        }
                        else
                        {
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>
    @if (TempData.ContainsKey("ErrorMessage"))
    {
        <div id="error-container">
            <p>@TempData["ErrorMessage"]</p>
        </div>
    }
    <div class="separator-container">
        <h2>Resolución del ajustador:</h2>

        <div>
            @if (Model.Report.OpinionAdjuster != null)
            {

                <!-- Si existe opinión, muestra la opinión y un botón para editar -->
                <input id="idOpinionAdjuster" type="hidden" name="IdOpinionAdjuster" value="@Model.Report.IdOpinionAdjuster" />
                <textarea id="opinionTextArea" class="form-control" rows="5" name="description" readonly>
                    @Html.Raw(Model.Report.OpinionAdjuster.Description.TrimStart())
                            </textarea>
                <button type="button" class="btn btn-primary mt-2" onclick="habilitarEdicion()">Editar</button>
                <button type="submit" class="btn btn-success mt-2" id="btnGuardar" style="display:none" onclick="updOpinion()">Guardar</button>

            }
            else
            {

                <!-- Si no existe opinión, muestra un área de texto para agregar -->
                <input id="idReport" type="hidden" name="idReport" value="@Model.Report.IdAccident" />
                <textarea id="opinionTextArea" class="form-control" rows="5" name="description" readonly>El ajustador no ha dado una resolución.</textarea>
                <button type="button" class="btn btn-primary mt-2" onclick="limpiarTextarea()">Agregar resolución</button>
                <button type="submit" class="btn btn-success mt-2" id="btnGuardar" style="display:none" onclick="newOpinion()">Guardar</button>

            }
        </div>

    </div>
</body>

@section Styles {
    <link rel="stylesheet" href="~/css/NewReport.css" asp-append-version="true" />
}
@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN3vjtO_5CHpPTAIVpygowsC4sjptPESE&libraries=places&callback=&callback=console.debug"></script>
    <script src="~/js/locationpicker.js"></script>
    <script src="~/js/ubicacionTwo.js"></script>
    <script src="~/js/viewReport.js"></script>

}